html {
   background-color: rgb(134, 56, 134);
   color: chartreuse;
}

body {
   margin: 0;
   display: flex;
   align-items: center;
}

main {
    padding-bottom: 10px;
}

img {
  border: 5px solid #555;
  border-color: chartreuse;
}

.main {
   transform: translateX(120px);
}

.about-content {
    background-color: black;
    border-radius: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 20px;
}

.about-content div {
    padding: 5px;
    margin: 5px;
    border: 10px solid;
    border-radius: 12px;
    border-width: 3px;
    border-color: white;
}

#sidebar {
   display: flex;
   flex-direction: column;
   position: absolute;
   left: 0px;
   top: 0px;
   background-color: rgb(129, 95, 95);
   color: #a1dcc6;
   height: 100%;
}

#sidebar a {
   color: darkkhaki;
   padding: 10px;
}

#sidebar a:visited {
   color: darkkhaki;
   padding: 10px;
}

#table {
   text-decoration: none;
   background-color: chartreuse;
   color: #8BEFF3;
   margin: 10px;
   border-radius: 8px;
   border: 3px;
   outline-color: red;
   outline-width: 5px;
   padding: 3px;
}

#table td {
   border-radius: 100px;
   background-color: black;
   padding: 5px;
   font-size: large;
}

#table td a:visited {
   color: #8BEFF3;
   background-color: black;
}

#body {
    border: 3px solid;
    padding: 5px;
}

#Title {
   background-color: black;
   max-width: max-content;
   padding-right: 10px;
   padding-left: 10px;
   border-radius: 8px;
}

#context {
   background-color: black;
   padding: 4px;
   border-radius: 8px;
}

#home-pic {
    width: 90px;
    padding: 6px;
    background-color: black;
}   

#con-details {
    background-color: darkblue;
}

#con-details th {
    background-color: black;
    padding: 4px;
}

#con-details td {
    border: 3px solid;
    padding: 4px;
    border-color: white;
}

#form {
    margin: 5px;
    border: 5px solid;
}

#form input, button {
    margin: 5px;
}

#projects img {
    width: 500px;
}
